.outerPopup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.innerPopup {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    padding: 32px;
    max-width: 640px;

    display: flex;
    align-items: center;
    flex-direction: column;

}