.Profile,
.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    align-content: space-between;
    justify-content: space-evenly;
}

.Section1,
.Section2 {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background-color: blueviolet;
}

.Img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}