* {
  box-sizing: border-box;
}
.root{
  display: flex;
}
nav .active:hover{
  background-color: aqua;
  
}
nav li.active {
  background-color: rgb(255, 0, 106);
  
}
.mainbody{
  background-color: rgb(155, 143, 143);
}
body{
  height:100%;
}
html{
  height:100%;
}
label{
  text-align: right;
}
.formDiv, .formClass{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* .formDiv{

  display:flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.fromClass{
  width:100%;
  height: 100%;
  display:flex !important;
  flex-direction: column;
} */
input{
  vertical-align: top;
}

